.carousel {
    width: 100vw;
}

.img {
    object-fit: cover;
    width: 100vw;
    min-height: 60vh;
    max-height: 60vh;
}

.container {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    /*    margin-top: -7%;*/
}

@media (max-width: 900px) {
    .body {
        position: absolute;
        top: 0;
    }
}
